.wrapper {
  padding: 20px 0 20px;

  .container {

    input[type='text'],
    input[type='email'],
    textarea {
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      padding: 0.4rem;
      margin-bottom: 1rem;
      box-sizing: border-box;
      border: solid 1px grey;
      border-radius: 5px;
    }

    label {
      font-size: 1.2rem;
    }

    button {
      width: 100%;
      border: none;
      background: #000;
      color: #fff;
      padding: 0.5rem 2rem;
      font-size: 1.6rem;
      transition-duration: 0.4s;
      border-radius: 5px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

  }
}