.logo-image {
  height: 76px;
  margin: 10px auto 0;
}

header {
  display: grid;
  grid-template-areas:
    'logo social'
    'logo nav';
  grid-template-columns: 1fr 1fr;

  .main-logo {
    grid-area: logo;
  }

  .social {
    grid-area: social;
    padding-left: 16vw;
    display: flex;
    justify-content: end;

    li {
      margin: 6px;
    }
  }

  .nav {
    grid-area: nav;
    display: flex;
    justify-content: end;

    li {
      margin: 5px;
    }
  }
}

@media screen and (max-width: 639px) {
  header {
    text-align: center;
    grid-template-areas:
      'logo'
      'nav'
      'social';
    grid-template-columns: initial;

    .social {
      justify-content: space-evenly;
      margin: 0;
      margin-top: -10px;
      padding: 0;
    }

  }


}