.logo-image {
    width: 120px;
}

header {
    display: grid;
    grid-template-areas:
        "logo social"
        "nav nav"
    ;
    grid-template-columns: 1fr 1fr;

    .main-logo {
        grid-area: logo;
        text-align: left;
    }

    .social {
        grid-area: social;
        padding-left: 16vw;
        display: flex;
        justify-content: end;

        li {
            margin: 6px;
        }
    }

    .nav {
        grid-area: nav;
        display: flex;
        justify-content: end;

        li {
            margin: 5px;
        }
    }
}