.nav {
  li {
    display: inline-block;
    position: relative;
    color: #434343;
    text-shadow: -2px -2px 4px #d0d0d0,
      2px 2px 6px #606060;

  }

  a {
    text-decoration: none;
    transition-duration: 3s;

    &::after {
      content: "";
      display: block;
      left: 53%;
      width: 0;
      height: 2px;
      background-color: red;
      position: absolute;
      transition-duration: 0.5s;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}