/* src/styles/post-link.scss */
.post-link-anchor {
  color: inherit;
  text-decoration: none;
}

.post-link {
  display: grid;
  margin: 50px 0px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: left;
  box-shadow: -12px -12px 12px 0 #ffffff,
    12px 12px 12px 0 #d9d9d9;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 #ffffff,
      0 0 0 #d9d9d9,
      inset -12px -12px 36px 0 #ffffff,
      inset 12px 12px 36px 0 #d0d0d0;
  }

  h2 {
    font-size: 1.2rem;
  }

}

.post-link-image {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.post-link-text {
  padding: 1rem;
}

.post-link-date {
  color: #595959;
}

/*@media screen and (min-width: 576px) {
    .post-link {
        grid-template-columns: 280px 1fr;
        grid-column-gap: 24px;
    }

    .post-link-image {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px, rgba(0, 0, 0, 0.33) 0px 18px 36px -18px;
    }
}*/