/* src/styles/post-link.scss */
.post-link-anchor {
  text-decoration: none;
}

.post-link {
  margin: 50px 0px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-align: left;
  box-shadow: -12px -12px 12px 0 #ffffff,
    12px 12px 12px 0 #d9d9d9;
  transition: box-shadow .2s ease-in-out;
  //縮まらない原因は改行処理

  &:hover {
    box-shadow: 0 0 0 #ffffff,
      0 0 0 #d9d9d9,
      inset -12px -12px 36px 0 #ffffff,
      inset 12px 12px 36px 0 #d0d0d0;
  }

  h2 {
    font-size: 1.2rem;
    height: 56px;
  }

}

.post-link-image {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.post-link-image-alt {
  background: #0e0e0e;
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 3px 0;
}


.post-link-date {
  color: #595959;
}

/*@media screen and (min-width: 576px) {
    .post-link {
        grid-template-columns: 280px 1fr;
        grid-column-gap: 24px;
    }

    .post-link-image {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px, rgba(0, 0, 0, 0.33) 0px 18px 36px -18px;
    }
}*/