.layout {
    text-align: center;
}

.contents-wrapper {
    background: #eee;
    margin: 10px;
    padding: 20px;
}

@media screen and (min-width: 640px) {
    .contents-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .post-link-anchor {

            flex-basis: 30%;
        }

        .post-link-image {
            height: 150px;
        }

        .post-link-text {
            text-overflow: ellipsis;
            overflow-wrap: normal;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            color: #434343;
        }

    }
}