/* src/styles/post.scss */
.post-header {
  margin: 20px 20px;
  max-width: 700px;
}

.post-image {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px -10px, rgba(0, 0, 0, 0.22) 0px 18px 36px -18px;
}

.post-body {
  text-align: left;
  margin: 0 10vw;

  pre {
    background: #111111;
    color: #fff;
    overflow: auto;
    padding: 10px;
  }
}

.post-body img {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 450px;
}